<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= yield :title || "Mighty Mighty Deployer"%></title>

    <%= stylesheet_link_tag 'all', '/javascripts/extjs/ext-3.2.1/resources/css/ext-all.css', :cache => 'cache/layout' %>
    <%= yield :css %>

    <script type='text/javascript'>
      //<![CDATA[
        var FORM_TOKEN = '#{form_authenticity_token}';
      //]]>
    </script>
    <%= javascript_include_tag 'jquery/jquery-1.4.2.min',  'extjs/ext-3.2.1/adapter/jquery/ext-jquery-adapter', 'extjs/ext-3.2.1/ext-all', :cache => 'cache/base' %>
    <%= javascript_include_tag 'application', 'store', 'components', :cache => 'cache/application' %>
    <%= javascript_include_tag 'admin/forms', 'admin/windows', 'admin/admin', :cache => 'cache/admin' %>
    <%= javascript_include_tag 'deploys/fields', 'deploys/forms', 'deploys/windows', 'deploys/deploys', :cache => 'cache/deploys' %>
    <%= javascript_include_tag 'layout', :cache => 'cache/layout' %>

    <%= yield :js %>
  </head>
  <body>
    <div id="main-container">
      <%= yield %>
    </div>
  </body>
</html>