<!DOCTYPE html>
<html lang="en" ng-app="DeployerApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mighty Mighty Deployer</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>

<body>

<div <%= content_for?(:wrapper_div) ? yield(:wrapper_div) : 'id="wrapper"'.html_safe %>>
    <div class="nav-goes-here">
        <% if current_user %>
            <%= render partial: 'layouts/top_nav' %>
        <% end %>
    </div>

    <%= yield %>
</div>

</body>
</html>
